body{
    font-family: 'Franklin Gothic Medium';
}

#dos {
    color:green;
}

ul>li {
    background-color: rgb(56, 114, 161);
    font-family: 'Courier New';
}

.caja {
    background-color: blueviolet;
    width: 100vw;
    height: 100vh;
}